<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Working of Template</title>
</head>
<body>
    <h1>Welcome to the text analyzer. Enter your text below.</h1>
    <!-- <p>My name is {{name}}. I am from {{place}}.</p> -->

    <form action="/analyze" method="get">
        <textarea name='text' style='margin: 0px; width: 1040px; height: 240px;'></textarea>
        <br>
        <input type="checkbox" name="removepunc"> Remove Punctuations
        <br>
        <input type="checkbox" name="caps"> UPPERCASE
        <br>
        <input type="checkbox" name="newlineremover"> New Line Remover
        <br>
        <input type="checkbox" name="spaceremover"> Space Remover
        <br>
        <input type="checkbox" name="charcount"> Count Characters
        <br>
        <button type="submit">Analyze Text</button>
    </form>
</body>
</html>